
<%= stylesheet_link_tag "checkr.css" %>

 


<div class="maincontainer"> <!--  Rouge -->

	<div class="bckgrd"> 

			<header> <!--  Green -->
				<div class="headlinks"> 
					<a href="#" class="top">I Am an Applicant</a>
					<a href="#" class="top"> API and Docs</a>
					<a href="#" class="top">About Us</a>
					<a href="#" class="top">Careers</a>

				</div>

			</header>

	<div class="secondmain"> 

				<div class="linkstop"> <!--  Yellow -->

					<div class= "logo"> 
						<%=image_tag("logocheckr.png", alt: "logo", class: "logoimg") %>
					</div>

					<ul>
  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">Product</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>

  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">staffing</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>

  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">industries</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>

  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">resources</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>

  						<li class="dropdown">
    						<a href="javascript:void(0)" class="dropbtn">compliances</a>
    						<div class="dropdown-content">
      							<a href="#">Overview</a>
      							<a href="#">Screening</a>
      							<a href="#">Compliance</a>
      							<a href="#">Security</a>
    						</div>
  						</li>




					</ul>




				</div>



	<div class="middle"> 	

			<div class="left"><!--  fushya -->

				<div class="insideleft">

					<h1 class="titre1">HIRE GREAT PEOPLE. </br> FASTER.</h1>
				

					<p class="paraf">Checkr provides modern and compliant background checks for global enterprises and startups.</p>

					<button class="yellowbut"> Explore Now  > </button>

				</div>


			</div>

			<div class="right"> 

				<div class= "video"> 
						<%=image_tag("video.png", alt: "video", class: "videoimg") %>
				</div>

			</div>

	</div>	


	</div>
	</div>


	<div class="page2">


		<div class= "brands"> 
						<%=image_tag("brands.png", alt: "brands", class: "brandsimg") %>
		</div> <!-- class brands-->


	</div> <!-- Class Page2 -->

      <div class="page3">

        

        <h2 class="h2page3"> The Next Generation of Background Checks </h2>



<div class="page3container">


      <div class="mobile">

          <h3 class="h3page3"> Mobile-Friendly </h3>
          <p class="ppage3"> Create a positive applicant experience with simple, mobile-friendly onboarding.</p>

      </div><!--mobile -->

       <div class="understand">

          <h3 class="h3page3"> Easy to Understand </h3>
          <p class="ppage3"> Color-coded reports and an intuitive interface makes it possible to review information faster. </p>
          
      </div><!--understand -->

       <div class="automation">

          <h3 class="h3page3"> Convenient Automation </h3>
          <p class="ppage3"> Reports and violations are categorized to help you remain compliant with individual assessment requirements. </p>
          
      </div><!--understand -->

      </div><!-- page3container -->



      <div class="page3container2">


      <div class="mobile">

          <h3 class="h3page3"> Mobile-Friendly </h3>
          <p class="ppage3"> Create a positive applicant experience with simple, mobile-friendly onboarding.</p>

      </div><!--mobile -->

       <div class="understand">

          <h3 class="h3page3"> Easy to Understand </h3>
          <p class="ppage3"> Color-coded reports and an intuitive interface makes it possible to review information faster. </p>
          
      </div><!--understand -->

  

      </div><!-- page3container2 -->

      </div><!-- Class Page3 -->

      <div class="page4">

        <h2 class="h2page3"> The Next Generation of Background Checks </h2>

        <div class= "jobs"> 
            <%=image_tag("jobs.png", alt: "jobs", class: "jobsimg") %>
    </div> <!-- class brands-->


      </div><!-- Class Page4 -->

<!--
      <div class="page3 page5">

        <h2 class="h2page3"> Best in Class Compliance and Security </h2>

        <div class="squares">

            <div class="box1"> 
              <h3 class="h3box"> Screenings </h3>

            </div>

            <div class="box1 box2"> 

               <h3 class="h3box"> Compliance </h3>

            </div>

            <div class="box1 box2"> 

               <h3 class="h3box"> Securite </h3>

            </div>





        </div>

      </div> Class Page5 -->

</div>
